* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #3b4050;
  --color-secondary: #a59678;
  --color-text: #3b4050;
  --color-text-muted: #6f737f;
  --color-bg: #ffffff;
  --color-bg-secondary: #2e323f;
  --color-bg-primary: #3b4050;

  --font-heading: "Oswald", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  /* border: 5px solid rgb(31, 49, 9); */

  max-width: 90%;
  margin: auto;
  padding: 0.8em 0.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----- HEADER ----- */
header {
  background-color: var(--color-bg-secondary);
  color: var(--color-bg);
  font-family: var(--font-heading);
}

.nav-logo {
  font-weight: 900;
  font-size: 20px;

  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 2.5em;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-bg);
  font-size: 15px;
  font-weight: 700;
  transition: all 0.15s ease-in;

  font-size: 1rem;
}

.button-bg {
  width: max-content;
  padding: 0.5em 1.6em;
  border-radius: 200px;
  background-color: var(--color-secondary);
  transition: all 0.15s ease-in;
  color: var(--color-bg);
  font-size: 15px;
  font-weight: 700;

  font-size: 1rem;
}

.nav-links a:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.button-bg:hover {
  background-color: var(--color-bg);
  color: var(--color-primary);
  cursor: pointer;
}

/* ----- HERO ----- */

.hero {
  /* border: 2px solid red; */

  background-color: var(--color-bg-primary);
  height: calc(100vh - 3.5em);

  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;
}

.hero .container {
  /* border: 2px solid red; */

  font-family: var(--font-heading);
  align-items: center;
  margin: auto;
  gap: 1em;
}

.hero-left p {
  font-size: 90px;
  font-weight: 900;
  line-height: 96px;
  letter-spacing: -0.02em;
  color: var(--color-bg);

  font-size: 5.6rem;
}

.text-pop {
  color: var(--color-secondary);
}

.hero-right {
  color: var(--color-bg);
  font-size: 24px;

  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-top: auto;

  /* border: 2px solid; */
}

.hero-right p {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.4;

  font-size: 1rem;
}

.hero-right .button-bg {
  font-size: 24px;
}

/* ----- FEATURES ----- */
.features {
  background-color: #a5967818;
}

.features .container {
  justify-content: center;
  gap: 10em;
  padding: 7em 0;

  .card {
    border: 0.0000000001px solid rgb(197, 197, 197);
  }
}

.card {
  /* border: 2px solid red; */

  /* text-align: center; */
  /* width: 18rem; */
  padding: 3rem;
  text-align: center;
  line-break: normal;
  /* text-align: center; */
}

.card h1 {
  color: var(--color-secondary);
  font-family: var(--font-heading);
  font-size: 30px;
  margin: 1.3rem 0;
  font-weight: 900;

  font-size: 1.9rem;
}

.card p {
  color: var(--color-text-muted);
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 0;
  color: #6f737f;

  font-size: 1.12rem;
}

/* ---- INFO ---- */
.info {
  background-color: var(--color-bg);
}

.info .container {
  gap: 5em;
  padding: 8em 0 3em 0;
}

.info-left {
  font-family: var(--font-body);
  color: var(--color-text-muted);
  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-left h1 {
  color: var(--color-secondary);
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.03em;

  font-size: 2.3rem;
}

.info-left p {
  font-size: 21px;
  line-height: 1.4;

  font-size: 1.3rem;
}

.info-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.info .card {
  background-color: var(--color-bg-primary);
  padding: 2rem 2.4rem;

  h1,
  p {
    color: var(--color-bg);
    color: #e7e9f0;
  }
}

/* ----- COLOR PICKER ----- */
.color-picker {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0.5em 0;

  /* background-color: #969bab4c; */
  font-family: var(--font-body);
}

.color-picker label {
  margin-bottom: 1em;
  font-family: var(--font-heading);
  color: var(--color-primary);
}

.picker {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 4em;
    height: 4em;
  }

  label {
    background-color: #969bab4c;
    font-weight: 700;
    padding: 10px;

    padding: 0.6em;
  }
}

#generate-random,
#savePaletteBtn {
  padding: 1em 2em;
  margin: 0 0.2em;
}

.color-picker .container .color-pickers {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.color-picker .color-buttons {
  display: flex;
  /* flex-direction: column; */
  gap: 0.3em;
  align-items: center;
}

footer {
  font-style: var(--font-heading);
  font-weight: 600;
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
}

body {
  /* padding-bottom: 12em; */
}

@media (width <= 1240px) {
  label {
    display: none;
  }
}

@media (width <= 1000px) {
  :root {
    /* font-size: 10px; */
  }

  /* ----- HEADER ----- */
  header .container a {
    display: none;
  }

  #nav-button {
    display: block;
  }

  header .container {
    /* padding: 2em; */
  }

  /* ----- HERO ----- */
  .hero {
    height: max-content;
  }

  .hero .container {
    flex-direction: column;
    gap: 7em;
    padding: 10em 0;
  }

  .hero-right {
    gap: 3em;
  }

  /* ----- FEATURES ----- */
  .features {
    /* border: 2px solid red; */
  }

  .features .container {
    flex-direction: column;
    padding: 10em 0;
    gap: 5em;
  }

  .card {
    padding: 6em;
  }

  .card p {
    margin: 0 3em;
  }

  /* ----- INFO ----- */
  .info .container {
    flex-direction: column;
    gap: 4em;

    /* border: 2px solid; */
  }

  .info-right {
    gap: 3em;
    padding-bottom: 6em;
  }

  .info .card {
    /* border: 2px solid red; */
    padding: 7em 0;
  }

  body {
    /* padding-bottom: 26em; */
  }
}

@media (width <= 760px) {
  :root {
    /* font-size: 4px; */
  }

  .hero {
    height: 98vh;
  }

  .button-bg {
    font-size: 13px;
  }
}

@media (width <= 690px) {
  :root {
    font-size: 10px;
  }

  .container {
    gap: 3em;
  }

  .nav-links a {
    font-size: 1.3rem;
  }

  .hero-right {
    gap: 1em;
  }

  .hero-left p {
    line-height: 1.2;
  }

  .hero-right p {
    font-size: 2rem;
  }

  .hero-right .button-bg {
    font-size: 0.6em;
  }

  .card {
    padding: 5em;
  }

  .card h1 {
    font-size: 2.3rem;
  }

  .card p {
    font-size: 1.6rem;
    padding: 0;
    margin: 1em;
  }

  .info .card {
    padding: 6em;
  }

  .info-left p {
    font-size: 1.6rem;
  }

  .color-picker .container {
    flex-wrap: wrap;
  }

  .color-picker .container .color-pickers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }

  .color-picker .color-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
  }
}

@media (width <= 500px) {
  :root {
    font-size: 8px;
  }
}
