* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #3b4050;
  --color-secondary: #a59678;
  --color-text: #3b4050;
  --color-text-muted: #6f737f;
  --color-bg: #ffffff;
  --color-bg-secondary: #2e323f;
  --color-bg-primary: #3b4050;

  --font-heading: sans-serif;
  --font-body: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin: auto;
  padding: 0.8em 0.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----- HEADER ----- */
header {
  background-color: var(--color-bg-secondary);
  width: 100%;

  color: var(--color-bg);
  font-family: var(--font-heading);

  position: fixed;
  top: 0;
}

.nav-logo {
  font-weight: 900;
  font-size: 1.4rem;
}

.nav-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2.5em;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-bg);
  font-weight: 700;
  font-size: 1rem;

  transition: all 0.15s ease-in;
}

.button-bg {
  width: max-content;
  padding: 0.5em 1.6em;
  border-radius: 200px;

  background-color: var(--color-secondary);

  color: var(--color-bg);
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1rem;

  transition: all 0.15s ease-in;
}

.nav-links a:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.button-bg:hover {
  background-color: var(--color-bg);
  color: var(--color-primary);
  cursor: pointer;
}

/* ----- HERO ----- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-bg-primary);

  height: 100vh;

  /* border: 2px solid red; */
  margin-top: 1.8em;
}

.hero .container {
  font-family: var(--font-heading);
  align-items: center;
  margin: auto;
  gap: 5em;

  /* border: 2px solid yellow; */
}

.hero-left p {
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 96px;
  letter-spacing: -0.02em;
  color: var(--color-bg);
}

.text-pop {
  color: var(--color-secondary);
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 1em;

  font-size: 24px;
  color: var(--color-bg);

  margin-top: auto;
}

.hero-right p {
  font-family: var(--font-body);
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.4;
}

.hero-right .button-bg {
  font-size: 24px;
}

/* ----- FEATURES ----- */
.features {
  background-color: #a5967818;
}

.features .container {
  justify-content: center;
  gap: 7em;
  padding: 7em 0;

  .card {
    border: 0.0000000001px solid rgb(197, 197, 197);
  }
}

.card {
  padding: 3rem;
  text-align: center;
  line-break: normal;
}

.card h1 {
  margin: 1.3rem 0;

  font-family: var(--font-heading);
  font-size: 1.9rem;
  color: var(--color-secondary);
  font-weight: 900;
}

.card p {
  color: var(--color-text-muted);
  font-size: 1.12rem;
  font-family: var(--font-body);
  line-height: 1.4;
  font-weight: 0;
  color: #6f737f;
}

/* ---- INFO ---- */
.info {
  background-color: var(--color-bg);
}

.info .container {
  gap: 5em;
  padding: 8em 0 3em 0;
}

.info-left {
  font-family: var(--font-body);
  color: var(--color-text-muted);

  margin-right: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-left h1 {
  color: var(--color-secondary);
  font-family: var(--font-heading);
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: -0.03em;
}

.info-left p {
  font-size: 1.3rem;
  line-height: 1.4;
}

.info-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.info .card {
  background-color: var(--color-bg-primary);
  padding: 2rem 2.5rem;
  padding: 3rem 2.5rem;

  h1,
  p {
    color: var(--color-bg);
    color: #e7e9f0;
  }
}

/* ----- COLOR PICKER ----- */
.color-picker {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0.5em 0;

  font-family: var(--font-body);
}

.color-picker label {
  margin-bottom: 1em;

  font-family: var(--font-heading);
  color: var(--color-primary);
}

.picker {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 4em;
    height: 4em;
  }

  label {
    background-color: #969bab4c;
    font-weight: 700;
    padding: 0.6em;
  }
}

#generate-random,
#savePaletteBtn {
  padding: 1em 2em;
  margin: 0 0.2em;
}

.color-picker .container {
  padding: 0;
}

.color-picker .container .color-pickers {
  display: flex;
  gap: 1em;
}

.color-picker .color-buttons {
  display: flex;
  gap: 1em;
  align-self: last baseline;
}

/* ----- FOOTER ----- */
footer {
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;

  padding: 0.5em;
}

/* ----- MEDIA QUERIES ----- */
@media (width <= 1240px) {
  label {
    display: none;
  }
}

@media (width <= 1024px) {
  /* ----- HEADER ----- */
  .main .nav-links {
    display: none;
    flex-direction: column;

    background-color: var(--color-bg-secondary);

    position: absolute;
    top: 5.3em;
    right: 0.8em;
    padding: 2em;
    border-radius: 5px;
    z-index: 1000;
  }

  .main .nav-links.show {
    display: flex;
  }

  .main .nav-toggle {
    display: block;
    font-weight: 900;
  }

  .main #toggle-picker {
    display: block;
  }

  #nav-button {
    display: block;
  }

  /* ----- HERO ----- */
  .hero {
    height: max-content;
  }

  .hero .container {
    flex-direction: column;
    gap: 7em;
    padding: 10em 0;
  }

  .hero-right {
    gap: 3em;
  }

  /* ----- FEATURES ----- */
  .features .container {
    flex-direction: column;
    padding: 10em 0;
    gap: 5em;
  }

  .card {
    padding: 6em;
  }

  .card p {
    margin: 0 3em;
  }

  /* ----- INFO ----- */
  .info .container {
    flex-direction: column;
    gap: 4em;
  }

  .info-right {
    gap: 3em;
    padding-bottom: 6em;
  }

  .info .card {
    padding: 7em 0;
  }
}

@media (width <= 760px) {
  .hero {
    height: min(100vh, max-content);
  }

  .button-bg {
    font-size: 13px;
    font-size: 1.5rem;
  }
}

@media (width <= 760px) {
  :root {
    font-size: 10px;
  }

  .container {
    gap: 3em;
  }

  /* ----- HEADER ----- */
  .nav-links a {
    font-size: 1.3rem;
  }

  /* ----- HERO ----- */
  .hero {
    padding: em 0;
  }

  .hero-right {
    gap: 2em;
  }

  .hero-left p {
    line-height: 1.2;
  }

  .hero-right p {
    font-size: 2rem;
  }

  .hero-right .button-bg {
    font-size: 0.6em;
  }

  .card {
    padding: 5em;
  }

  .card h1 {
    font-size: 2.3rem;
  }

  .card p {
    font-size: 1.6rem;
    padding: 0;
    margin: 1em;
  }

  /* ----- INFO ----- */
  .info .card {
    padding: 6em;
  }

  .info-left p {
    font-size: 1.6rem;
  }

  /* ----- COLOR PICKER ----- */
  .color-picker .container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .color-picker .container .color-pickers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    justify-content: space-between;
  }

  .color-picker .color-buttons {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
}

@media (width <= 500px) {
  :root {
    font-size: 8px;
  }

  .color-picker .container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.hero {
  min-height: 100vh;
  max-height: max-content;
}

@media (width <= 380px) {
  :root {
    font-size: 7px;
  }
}

@media (width <= 950px) {
  .color-picker .container {
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;

    .color-pickers,
    .color-buttons {
      justify-content: space-between;
      width: 100%;
    }
  }
}
